.productcontainer {
    background: var(--White);
    width: 95vw;
    border-radius: 16px;
    overflow: hidden;
    margin: auto;
}
.texto{
    padding: 25px;
    width: 50%;
}
.imagenContainer{
    position: relative;
    width: 250px;
    height: auto;
}